{% load forms %}

{% checkbox model="problem_of_drug_use" label="history of problem drug use" %}

<div ng-show="problem_of_drug_use">
  {% input field="EnvironmentalTBRiskFactors.last_year_of_problem_drug_use" disabled="editing.environmental_tb_risk_factors.current_problem_drug_use" %}
  {% checkbox field="EnvironmentalTBRiskFactors.current_problem_drug_use" %}
  <hr>
</div>

{% checkbox model="problem_of_alcohol_use" label="history of problem alcohold use" %}

<div ng-show="problem_of_alcohol_use">
  {% input field="EnvironmentalTBRiskFactors.last_year_of_alcohol_misuse" disabled="editing.environmental_tb_risk_factors.current_alcohol_misuse" %}
  {% checkbox field="EnvironmentalTBRiskFactors.current_alcohol_misuse" %}
  <hr>
</div>

{% checkbox model="history_of_homelessness" label="history of homelessness" %}

<div ng-show="history_of_homelessness">
  {% input field="EnvironmentalTBRiskFactors.last_year_of_homelessness" disabled="editing.environmental_tb_risk_factors.current_homelessness" %}
  {% checkbox field="EnvironmentalTBRiskFactors.current_homelessness" %}
  <hr>
</div>

{% checkbox model="time_spent_in_prison" label="history of prison attendance" %}

<div ng-show="time_spent_in_prison">
  {% input field="EnvironmentalTBRiskFactors.last_year_of_prison" disabled="editing.environmental_tb_risk_factors.current_prison_stay" %}
  {% checkbox field="EnvironmentalTBRiskFactors.current_prison_stay" label="Currently in prison" %}
  <hr>
</div>
<hr>

<div class="row">
  <div class="col-md-10 col-md-push-3">
    <h4>History of Smoking</h4>
  </div>
</div>
  {% checkbox field="EnvironmentalTBRiskFactors.history_of_smoking_active" label="active" %}
  {% checkbox field="EnvironmentalTBRiskFactors.history_of_smoking_passive" label="passive" %}
