{% load forms %}
{% datepicker  field="MedicalTBRiskFactors.previous_tb"  %}
{% checkbox field="MedicalTBRiskFactors.mental_health_history" %}
{% checkbox field="MedicalTBRiskFactors.hiv_positive" %}
{% checkbox field="MedicalTBRiskFactors.solid_organ_transplantation" %}
{% checkbox field="MedicalTBRiskFactors.haemotological_malignancy" %}
{% checkbox field="MedicalTBRiskFactors.jejunoileal_bypass" %}
{% checkbox field="MedicalTBRiskFactors.gastrectomy" %}
{% checkbox field="MedicalTBRiskFactors.diabetes" %}
{% checkbox field="MedicalTBRiskFactors.silicosis" %}
{% checkbox  field="MedicalTBRiskFactors.chronic_renal" %}
{% checkbox  field="MedicalTBRiskFactors.failure_haemodialysis" %}
{% checkbox  field="MedicalTBRiskFactors.anti_tnf_alpha_treatment" %}
{% textarea  field="MedicalTBRiskFactors.other_immunosuppressive_drugs" %}
