{% load forms %}
{% input field="Treatment.drug" lookuplist="antimicrobial_list" %}
{% input field="Treatment.dose" %}
{% input field="Treatment.route" %}
{% input field="Treatment.frequency" %}
{% datepicker field="Treatment.start_date" required=True %}
{% datepicker field="Treatment.end_date" %}
{% datepicker field="Treatment.planned_end_date" required=True %}

<div ng-show="showStopTreatment()" class="text-center">
  <button class="btn btn-secondary content-offset-10" ng-click="stopTreatment()">
    <i class="fa fa-stop"></i> Stop Treatment
  </button>
</div>
