 <span ng-show="item.last_date_of_problem_drug_use">[[ item.last_date_of_problem_drug_use  | shortDate ]] <br /></span>
 <span ng-show="item.current_problem_drug_use">[[ item.current_problem_drug_use ]] <br /></span>
 <span ng-show="item.last_date_of_alcohol_misuse">[[ item.last_date_of_alcohol_misuse  | shortDate ]] <br /></span>
 <span ng-show="item.current_alcohol_misuse">[[ item.current_alcohol_misuse ]] <br /></span>
 <span ng-show="item.last_date_of_homelessness">[[ item.last_date_of_homelessness  | shortDate ]] <br /></span>
 <span ng-show="item.current_homelessness">[[ item.current_homelessness ]] <br /></span>
 <span ng-show="item.last_date_of_prison">[[ item.last_date_of_prison  | shortDate ]] <br /></span>
 <span ng-show="item.currentl_prison_stay">[[ item.currentl_prison_stay ]] <br /></span>
 <span ng-show="item.history_of_smoking_active">[[ item.history_of_smoking_active ]] <br /></span>
 <span ng-show="item.history_of_smoking_passive">[[ item.history_of_smoking_passive ]] <br /></span>
 <span ng-show="item.recent_travel_to_high_risk_area">[[ item.recent_travel_to_high_risk_area ]] <br /></span>