 <span ng-show="item.last_year_of_problem_drug_use">Stopped using problem drugs in [[ item.last_year_of_problem_drug_use ]] <br /></span>
 <span ng-show="item.current_problem_drug_use">Current drug use problem<br /></span>
 <span ng-show="item.last_year_of_alcohol_misuse">Stopped having a problem with alcohol in [[ item.last_year_of_alcohol_misuse ]] <br /></span>
 <span ng-show="item.current_alcohol_misuse">Currently has a problem with alcohol <br /></span>
 <span ng-show="item.last_year_of_homelessness">Was homeless in [[ item.last_year_of_homelessness ]] <br /></span>
 <span ng-show="item.current_homelessness">[[ item.current_homelessness ]] <br /></span>
 <span ng-show="item.last_year_of_prison">Got out of prison in [[ item.last_year_of_prison ]] <br /></span>
 <span ng-show="item.current_prison_stay">Currently in prison <br /></span>
 <span ng-show="item.history_of_smoking_active">[[ item.history_of_smoking_active ]] <br /></span>
 <span ng-show="item.history_of_smoking_passive">[[ item.history_of_smoking_passive ]] <br /></span>
 <span ng-show="item.recent_travel_to_high_risk_area">[[ item.recent_travel_to_high_risk_area ]] <br /></span>
