 <span ng-show="item.mental_health_history">[[ item.mental_health_history ]] <br /></span>
 <span ng-show="item.previous_tb">[[ item.previous_tb  | shortDate ]] <br /></span>
 <span ng-show="item.hiv_positive">[[ item.hiv_positive ]] <br /></span>
 <span ng-show="item.solid_organ_transplantation">[[ item.solid_organ_transplantation ]] <br /></span>
 <span ng-show="item.haemotological_malignancy">[[ item.haemotological_malignancy ]] <br /></span>
 <span ng-show="item.jejunoileal_bypass">[[ item.jejunoileal_bypass ]] <br /></span>
 <span ng-show="item.gastrectomy">[[ item.gastrectomy ]] <br /></span>
 <span ng-show="item.diabetes">[[ item.diabetes ]] <br /></span>
 <span ng-show="item.silicosis">[[ item.silicosis ]] <br /></span>
 <span ng-show="item.chronic_renal">[[ item.chronic_renal ]] <br /></span>
 <span ng-show="item.failure_haemodialysis">[[ item.failure_haemodialysis ]] <br /></span>
 <span ng-show="item.anti_tnf_alpha_treatment">[[ item.anti_tnf_alpha_treatment ]] <br /></span>
 <span ng-show="item.other_immunosuppressive_drugs">[[ item.other_immunosuppressive_drugs ]] <br /></span>