 <span ng-show="item.mental_health_history">A history of mental health problems<br /></span>
 <span ng-show="item.previous_tb">[[ item.previous_tb  | shortDate ]] <br /></span>
 <span ng-show="item.hiv_positive">Hiv positive<br /></span>
 <span ng-show="item.solid_organ_transplantation">Solid organ transplantation<br /></span>
 <span ng-show="item.haemotological_malignancy">Haemotological malignancy<br /></span>
 <span ng-show="item.jejunoileal_bypass">Jejunoileal bypass<br /></span>
 <span ng-show="item.gastrectomy">Gastrectomy<br /></span>
 <span ng-show="item.diabetes">Diabetes<br /></span>
 <span ng-show="item.silicosis">Silicosis<br /></span>
 <span ng-show="item.chronic_renal">Chronic renal<br /></span>
 <span ng-show="item.failure_haemodialysis">Failure haemodialysis<br /></span>
 <span ng-show="item.anti_tnf_alpha_treatment">Anti tnf alpha treatment<br /></span>
 <span ng-show="item.other_immunosuppressive_drugs">[[ item.other_immunosuppressive_drugs ]] <br /></span>
