{% load forms %}
{% load panels %}
<div class="col-md-12">

  <tabset justified="true">
    <tab heading="Patient Overview">

      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-active">
            <div class="panel-heading">
              <h3>
                {% icon "fa-warning" %}
                Risks
              </h3>
            </div>
            <div class="panel-body">
              <!-- <p>Previous TB (Placeholder)</p> -->
              <div ng-repeat="item in episode.travel">
                {% include models.Travel.get_display_template %}
              </div>
              <div class="row" ng-show="episode.social_history[0].smoking && episode.social_history[0].smoking != 'Never'">
                <div class="col-md-6">
                  <b>Smoking:</b>
                </div>
                <div class="col-md-6">
                  [[ episode.social_history[0].smoking ]]
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-active">
            <div class="panel-heading">
              <h3>
                {% icon "fa-user" %}
                Status
              </h3>
            </div>
            <div class="panel-body">
              <p><b>[[ episode.stage ]] <span ng-show="episode.tb_location[0].sites.length">([[ episode.tb_location[0].sites.join(", ") ]])</span></b></p>
              <p ng-show="episode.ph_england_notification[0].who || episode.ph_england_notification[0].when">
                <span ng-show="episode.ph_england_notification[0].who">[[ episode.ph_england_notification[0].who ]]</span>
                <span ng-hide="episode.ph_england_notification[0].who">Public Health England</span>
                notified
                <span ng-show="episode.ph_england_notification[0].when">on [[ episode.ph_england_notification[0].when|shortDate ]]</span>
              </p>
              <p ng-show="!episode.ph_england_notification[0].who && !episode.ph_england_notification[0].when && episode.stage == 'Active TB'">
                <b>PHE notification not complete</b>
              </p>
              <div ng-repeat="item in episode.investigation">
                {% include models.Investigation.get_display_template %}
              </div>
              <div ng-repeat="item in episode.diagnosis[0]">
                {% include models.Diagnosis.get_display_template %}
              </div>
              <div class="content-offset-10" ng-show="episode.stage=='Active TB'">
                {% include 'partials/current_treatments.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-push-1">
          <div timeline></div>
        </div>
      </div>
    </tab>

    <tab heading="Detailed History">
      <div class="row">
        <div class="col-md-8">
          {% record_panel models.ContactDetails %}
          {% record_panel models.ReferralRoute %}
          {% record_panel models.PastMedicalHistory %}
          {% record_panel models.SocialHistory %}
          {% record_panel models.Travel %}
          {% record_panel models.SymptomComplex %}
          {% record_panel models.Investigation %}
          {% record_panel models.Treatment %}
          {% record_panel models.PHEnglandNotification %}
          {% record_timeline models.PatientConsultation "when" %}
          {% record_panel models.TBOutcome %}
        </div>
      </div>
    </tab>
    <tab heading="Contact Tracing">
      <div class="row">
        <div class="col-md-8">
          {% record_panel models.EnvironmentalRiskAssessment %}
          {% record_panel models.ContactTracing editable="False" %}
        </div>
      </div>
    </tab>

  </tabset>

</div>
