{% load forms %}
{% load panels %}
<div class="col-md-12">
  <tabset justified="true">
    <tab heading="Patient Overview">

      <div class="row">
        <div ng-class="{'col-md-offset-2': episode.stage!=metadata.tb.stages.active_tb_treatment, 'col-md-6': episode.stage==metadata.tb.stages.active_tb_treatment, 'col-md-8': episode.stage!=metadata.tb.stages.active_tb_treatment, 'content-offset-20': episode.stage!=metadata.tb.stages.active_tb_treatment}">
          {% include "partials/status_panel.html" %}
          {% include "partials/risk_panel.html" %}
        </div>
        <div class="col-md-6" ng-hide="episode.stage!=metadata.tb.stages.active_tb_treatment">
            {% include 'partials/current_tb_treatments_panel.html' %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-push-2">
          <div timeline></div>
        </div>
      </div>
    </tab>

    <tab heading="Detailed History">
      <div class="row">
        <div class="col-md-8">
          {% record_panel models.ContactDetails %}
          {% record_panel models.ReferralRoute %}
          {% record_panel models.PastMedicalHistory %}
          {% record_panel models.SocialHistory %}
          {% record_panel models.Travel %}
          {% record_panel models.SymptomComplex %}
          {% record_panel models.Investigation %}
          {% record_panel models.Treatment %}
          {% record_panel models.PHEnglandNotification %}
          {% record_timeline models.PatientConsultation "when" %}
          {% record_panel models.TBOutcome %}
        </div>
      </div>
    </tab>
    <tab ng-show="episode.tb_meta[0].contact_tracing_done || episode.contact_traced.length" heading="Contact Tracing">
      <div class="row">
        <div class="col-md-8">
          {% record_panel models.EnvironmentalRiskAssessment %}
          {% record_panel models.ContactTracing editable="False" %}
          {% include '_partials/contact_traced_panel.html' %}
        </div>
      </div>
    </tab>
    <tab heading="Tests">
      <div class="row">
        {% include "test_results.html" %}
      </div>
    </tab>
  </tabset>
</div>
