.patient-timeline .date {
  font-weight: bold;
  color: #f76c51;
  text-align: left;
  padding-left: 24px;
  border-bottom: 1px solid #f76c51;
}
.patient-timeline-now .patient-timeline-now-text {
    margin-bottom: none;
}

.panel-combined-timeline .col-md-8{
  padding-top: 9px;
}
.timeline-item-icon {
    background-color: #333;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 7px;
    margin-left: -15px;
}

.panel-container {
  margin-top: 0px
}

.panel .panel.inner-panel{
  border: 1px solid #ddd;
}

/*
* this deal with making inner panels have smaller headings
* when they are within an another record panel
*/

.panel .panel-active .panel-heading.inner-panel-heading{
  padding: 2px 15px;
  border-bottom: 2px solid #5fa2dd;
}

.panel .panel .panel-heading.inner-panel-heading{
  background-color: white;
  border-bottom: 3px solid #f76c51;
}

.panel .panel .panel-heading.inner-panel-heading a{
  color: #333;
}

.panel .panel-active .panel-heading.inner-panel-heading h3{
  /*
  * essentially change the h4 into an h3
  */
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel .panel .panel-heading.inner-panel-heading a:hover{
  color: #f76c51;
}

.panel-footer {
  background: white;
}

.panel-active .panel-footer {
  border-top: 1px solid #ddd;
}

.panel-footer .btn {
  margin-top: 6px;
  margin-bottom: 6px;
}

.panel-footer .btn.pull-left {
  margin-left: 8px;
}
.panel-footer .btn.pull-right {
  margin-right: 8px;
}

.no-touchevents .opal-editable i.edit{
  visibility: hidden;
  font-size: 20px;
}

.no-touchevents .opal-editable:hover i.edit,
.touchevents > i.edit{
  visibility: visible;
  font-size: 20px;
}
