{% extends 'patient_detail_base.html' %}
{% load forms %}
{% load panels %}

{% block pre_demographics %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>
        {% icon "fa-bolt" %}
        Actions
      </h3>
    </div>
    <ul class="list-group">

      <li class="list-group-item" ng-show="episode.stage=='Under Investigation'">
        <a class="btn btn-primary btn-text-left col-md-8"
           href="/pathway/#/tb_assessment/[[ episode.id ]]">
          {% icon "fa-stethoscope" %}Initial TB Assessment
        </a>
      </li>

      <li class="list-group-item"
          ng-show="!episode.ph_england_notification[0].who && !episode.ph_england_notification[0].when && episode.stage == 'Active TB'"
          >
        <button class="btn btn-primary btn-text-left col-md-8 pointer"
                ng-click="episode.recordEditor.editItem('ph_england_notification', 0)">
          {% icon "fa-flag" %} Record Notification
        </button>
      </li>
      <li class="list-group-item">
        <a class="btn btn-primary col-md-8 btn-text-left"
           href="/pathway/#/contact_tracing/[[ episode.id ]]">
          {% icon "fa-users" %} Contact Tracing
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn btn-primary btn-text-left col-md-8"
           href="/pathway/#/tb_treatment/[[ episode.id ]]">
          {% icon "fa-medkit" %} <span ng-show="episode.stage == 'Under Investigation'">Start </span>TB Treatment
        </a>
      </li>
      <li class="list-group-item" ng-hide="episode.stage=='Under Investigation'">
        <a class="btn btn-primary col-md-8 btn-text-left"
           href="/pathway/#/tb_treatment_outcome/[[ episode.id ]]">
          {% icon "fa-home" %} Treatment Outcome
        </a>
      </li>
    </ul>
  </div>
{% endblock %}
