<table ng-controller="CurrentTreatmentPanelCtrl as currentTreatmentPanelCtrl" class="table table-hover">
  <thead>
    <tr>
      <th>Start</th>
      <th>Drug</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in currentTreatmentPanelCtrl.getActiveTreatments(episode.treatment)"
        ng-click="episode.recordEditor.openEditItemModal(item, 'treatment')"
        class="pointer opal-editable"
        >
      <td>
        <span ng-show="item.start_date">[[item.start_date | shortDate]]</span>
        <span ng-show="item.end_date">-[[item.end_date | shortDate]]</span>
      </td>
      <td>
        [[item.drug]] [[item.dose]] [[item.route]]
      </td>
      <td>
        <span ng-show="item.start_date">day</span>
        [[ item.start_date | daysSince:1:true]]
        <span ng-show="item.start_date">/</span>
        [[ item.start_date | daysTo:item.planned_end_date:true ]]
      </td>
      <td>
        <i class="fa fa-pencil edit pull-right pointer"></i>
      </td>
    </tr>
  </tbody>
</table>
