{% load forms %}
<div class="panel panel-active">
  <div class="panel-heading">
    <h3>
      {% icon "fa-user" %}
      Status: [[ episode.stage ]]
    </h3>
  </div>
  <div ng-hide="episode.stage === 'New Referral'" class="panel-body">
    {% include "_partials/status_panel_contents.html" %}
    <div ng-show="episode.stage === metadata.tb.stages.new_contact" class="content-offset-20">
      <div ng-repeat="item in episode.contact_traced">
        {% include models.ContactTraced.get_display_template %}
      </div>
    </div>
  </div>
</div>
